.allChats{
    position: relative;
    top: 0px;
}

.chatPreview{
    width: 40%;
    height: 100px;
    position: relative;
    left: 0px;
    top: 0px;
}

.profile-img{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    top: 4px;
    left: 10px;
}

.name{
    position: relative;
    top: 0;
    left: 75px;
    /* text-align: left; */
}


.chat-msg{
    position: relative;
    /* bottom: 5px; */
    left: 75px;
}

/* .split-line{
    position: absolute;
    top: 0;
    left: 50%;
} */

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}