.chat-container{
    position: absolute;
    height: 90vh;
    width: 60%;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    
}


.user-info{

    /* width: 100%;
    height: 80px;
    top: 0px;
    background-color:darkcyan; */

    height: 80px;
    background-color: darkcyan;
    flex-shrink: 0; /* prevent shrinking */
    position: relative; /* remove absolute */
    display: flex;
    /* align-items: center; */
    text-align: center;
    left: 0px;

}

.user-info img{
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    top: 10px;
    left: 20px;
}

.user-info hr{
    position: relative;
    top: 80px;
}

.user{
    position: absolute;
    top: -10px;
    left: 45%;

}



.chat-section{

    /* position: absolute;
    bottom: 0px;
    width: 100%;
    top: 100px;
    overflow-y: auto; */

    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
    position: relative;
    flex-direction: column;
    gap: 15px;

}

.message-wrapper{
    display: flex;
    width: 100%;
}

.message-wrapper.left{
    justify-content: flex-start;
}

.message-wrapper.right{
    justify-content: flex-end;
}


.messages-received{

    text-align: left;

    background-color: #e1ffc7;
    border-radius: 12px;
    max-width: 60%;
    min-width: 5%;
    
    min-height: 5px;
    word-wrap: break-word;
    display:inline-block;

}

.messages-received h4 {
    font-family: "ui-monospace";
    position: relative;
    left: 10px;
    top: -5px;
    max-width: 95%;
    min-height: 10px;
}

.messages-sent{
    
    background-color: #c7d8ff;
    border-radius: 12px;
    max-width: 60%;
    min-width: 100px;
    min-height: 50px;
    word-wrap: break-word;
    display: block;
    
}

.messages-sent h4{
    position: absolute;
    font-family: "ui-monospace";
    position: relative;
    left: 20px;
    min-height: 15px;
    top: -6px;
    max-width: 95%;


}




.write-text{
    position: relative;
    bottom: -50px;
    right: -20px;
    width: 90%;
    height: 60px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #f0f0f0;

}

.user-input{
    flex-grow: 1;
    height: 35px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
}

.send{
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
}






p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 10px;
    top: 10px;
}