.chat-container{
    position: absolute;
    height: 90vh;
    width: 60%;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    
}


.user-info{

    /* width: 100%;
    height: 80px;
    top: 0px;
    background-color:darkcyan; */

    height: 80px;
    background-color: darkcyan;
    flex-shrink: 0; /* prevent shrinking */
    position: relative; /* remove absolute */
    display: flex;
    /* align-items: center; */
    text-align: center;
    left: 0px;

}

.user-info img{
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    top: 10px;
    left: 20px;
}

.user-info hr{
    position: relative;
    top: 80px;
}

.user{
    position: absolute;
    top: -10px;
    left: 45%;

}



.chat-section{

    /* position: absolute;
    bottom: 0px;
    width: 100%;
    top: 100px;
    overflow-y: auto; */

    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    padding: 10px 20px;
    position: relative;
    flex-direction: column;
    gap: 15px;

}

.message-wrapper{
    display: flex;
    width: 100%;
}

.message-wrapper.left{
    justify-content: flex-start;
}

.message-wrapper.right {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}



.dot-button{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.message-wrapper.right:hover .dot-button{
    opacity: 1;
}


.messages-received{

  background-color: #e1ffc7;
  border-radius: 12px;
  max-width: 60%;
  min-width: 100px;
  padding: 10px 12px;
  position: relative;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  font-family: "ui-monospace", monospace;


}

.messages-received h4 {
  margin: 0 0 4px 0;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;

}

.messages-received h5{
  margin: 0;
  font-size: 12px;
  text-align: right;
  color: #555;

}


 .messages-sent {
  background-color: #c7d8ff;
  border-radius: 12px;
  max-width: 60%;
  min-width: 100px;
  padding: 10px 12px;
  position: relative;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  font-family: "ui-monospace", monospace;
}

.messages-sent h4 {
  margin: 0 0 4px 0;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.messages-sent h5 {
  margin: 0;
  font-size: 12px;
  text-align: right;
  color: #555;
}





.write-text{
    position: relative;
    bottom: -50px;
    right: -20px;
    width: 90%;
    height: 60px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #f0f0f0;

}

.user-input{
    flex-grow: 1;
    height: 35px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
}

.send{
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
}






p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 10px;
    top: 10px;
}